node_modules
build
.vscode
.env
src/logs/*/**
oota-cbff3-firebase-adminsdk-fil0x-881873ff3d.json
google-services.json
oota-prod-firebase-adminsdk-ajmdf-f1a7ca586e.json
piqle-staging-firebase-adminsdk-684gz-5366576bd5.json
piqle-tech-firebase-adminsdk-xj5ns-ff7b7af9f7.json
.env.*
bill.json